<div class="row">
  <div class="col-12">
    <%= simple_form_for [:main, @sale] do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <div class="form-inputs w-50 float-end">
        <div class="float-end w-100">
          <%= f.association :customer, error: "Um cliente deve ser selecionado", placeholder: "Insira o cliente", collection: @customers %>
        </div>
        <%= f.input :cart, as: :hidden, input_html: { value: '' }, error: ""%>
        <div class="float-end" style="width: 30%;">
          <p style="margin-bottom: 5px;">Preço Total:</p>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">R$</span>
            <%= f.text_field :total_price, as: :currency, readonly: true, error: "Nenhum produto selecionado", class: "form-control"%>
          </div>
        </div>
      </div>
      <hr class="my-4 w-100">
      <div class="form-actions d-flex justify-content-end">
        <%= f.submit 'Encerrar Compra', class: "btn btn-primary"%>
      </div>
    <% end %>
  </div>
</div>
<script>
</script>
