<div id="<%= dom_id sale %>">
  <div class="card border-info m-4 p-2" style="position: relative;">
    <table class="table mb-0 mt-1">
      <tr class="list-group list-group-flush table-row">
        <td>Data: <%= sale.created_at.strftime('%d/%m/%Y') %></td>
        <td>Cliente: <%= sale.customer.name %></td>
        <td>Preço total: R$<%= number_with_precision(sale.total_price, precision: 2) %></td>
      </tr>
    </table>
    <table class="cart-table table border my-2 table-wrapper-scroll-y rounded border-info border-0" style="margin-top: 30px; background-color: #fff; padding: 10px; box-shadow: 0px 0px 10px rgba(0,0,0,0.1);">
      <thead style="display: table; width: 100%; table-layout: fixed;">
        <tr>
          <th class="col-6">Produto</th>
          <th class="col-2 text-center">Quantidade</th>
          <th class="col-2 text-center">Preço</th>
          <th class="col-2 text-center">Subtotal</th>
        </tr>
      </thead>
      <tbody style="display: table; width: 100%; table-layout: fixed;">
        <% cart = JSON.parse(sale.cart) %>
        <% cart.each do |item| %>
          <% subtotal = item['quantity'].to_i * item['price'].to_f %>
          <tr>
            <td class="col-6"><%= item['name'] %></td>
            <td class="col-2 text-center"><%= item['quantity'] %></td>
            <td class="col-2 text-center">R$<%= number_with_precision(item['price'], precision: 2) %></td>
            <td class="col-2 text-center">R$<%= number_with_precision(subtotal, precision: 2) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="d-flex justify-content-end">
      <%= link_to "Voltar", main_sales_path, class: "btn btn-secondary mt-1 me-3", style: "width: 10%;"%>
    </div>
  </div>
</div>
