<!DOCTYPE html>
<html>
  <head>
    <title>Cantina</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="shortcut icon" href="/assets/logo-rd.png" type="image/x-icon">
    <style>
      html, body, .container-fluid {
        height: 100%;
        width: 100%;
      }
      
      .container-fluid {
        padding: 0;
      }
      
      .row {
        height: 100%;
        margin: 0;
      }
      
      #sidebar{
        height: 100%;
        width: 22%;
      } 
      
      #content {
        width: 78%;
        margin-left: 22%;
      }
      
      main {
        margin: 1%;
      }
      
      #logo {
        width: 3rem;
        height: 3rem;
      }

      .list-group-item:hover {
        background-color: rgb(236,236,236); /* Altere para a cor desejada */
        cursor: pointer; /* Altere o cursor conforme necessário */
      }
    </style>
  </head>
  <body>
    <section class="container-fluid align-text-start">
      <div class="row">
        <div id="sidebar" class="d-flex flex-column flex-shrink-0 p-3 bg-light col-3 position-fixed">
          <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <img id="logo" src="/assets/logo-rd.png" alt="Logo da Religião de Deus do Cristo e do Espírito Santo">
            <span class="fs-4 ms-3">Cantina - RD</span>
          </div>
          <hr>
          <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-demand list-group-item">
              <%= link_to "<i class='bi bi-house-fill me-3'></i>Home".html_safe, main_root_path, class: "nav-link link-dark" %>
            </li>
            <li class="list-group-item">
              <%= link_to "<i class='bi bi-cart4 me-3'></i>Vender".html_safe, new_main_sale_path, class: "nav-link link-dark" %>
            </li>
            <li class="list-group-item">
              <%= link_to "<i class='bi bi-grid me-3'></i>Produtos".html_safe, main_products_path, class: "nav-link link-dark" %>
            </li>
            <li class="list-group-item">
              <%= link_to "<i class='bi bi-person-circle me-3'></i>Clientes".html_safe, main_customers_path, class: "nav-link link-dark" %>
            </li>
            <li class="list-group-item">
              <a href="#" class="nav-link link-dark">
                <i class="bi bi-clipboard-data me-3"></i>
                Relatórios
              </a>
            </li>
          </ul>
          <hr>
          <div class="dropdown align-items-baseline">
            <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/assets/logo-rd.png" alt="Foto de Perfil" width="32" height="32" class="rounded-circle me-2">
            <strong>Usuário</strong>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
              <li class="list-group-item"><a class="dropdown-demand ms-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-dark mb-1" href="#">Perfil</a></li>
              <li><hr class="dropdown-divider"></li>
              <li class="list-group-item"><a class="dropdown-demand ms-2 link-underline link-underline-opacity-0 link-underline-opacity-75-hover link-dark mb-1" href="#">Sair</a></li>
            </ul>
          </div>
        </div>
        <div id="content" class="col-9">
          <main>
            <%= yield %>
          </main>
        </div>
      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
